{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <h1>Redefinir Senha</h1>
        <hr>
        <div class="col">
            <form method="POST" action="" class="border p-4 mt-2">
                {{ form_resetsenha.csrf_token }}
                <legend>Redefinir Senha</legend>
                <fieldset>
                    <div class="form-group">
                        {{ form_resetsenha.email.label(class="form-control-label") }}
                        {% if form_resetsenha.email.errors %}
                            {{ form_resetsenha.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_resetsenha.email.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_resetsenha.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_resetsenha.nova_senha.label(class="form-control-label") }}
                        {% if form_resetsenha.nova_senha.errors %}
                            {{ form_resetsenha.nova_senha(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_resetsenha.nova_senha.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_resetsenha.nova_senha(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_resetsenha.confirmar_senha.label(class="form-control-label") }}
                        {% if form_resetsenha.confirmar_senha.errors %}
                            {{ form_resetsenha.confirmar_senha(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_resetsenha.confirmar_senha.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_resetsenha.confirmar_senha(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                {{ form_resetsenha.botao_submit_resetsenha(class="btn btn-primary mt-2") }}
            </form>
        </div>
    </div>
{% endblock %}
